USE [master]
GO
/****** Object:  Database [QUANLYCUAHANGXEMAY]    Script Date: 11/17/2025 2:55:26 PM ******/
CREATE DATABASE [QUANLYCUAHANGXEMAY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYCUAHANGXEMAY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QUANLYCUAHANGXEMAY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYCUAHANGXEMAY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QUANLYCUAHANGXEMAY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYCUAHANGXEMAY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYCUAHANGXEMAY]
GO
/****** Object:  User [hieusql]    Script Date: 11/17/2025 2:55:26 PM ******/
CREATE USER [hieusql] FOR LOGIN [hieusql] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[VaiTro] [varchar](20) NOT NULL,
	[TrangThai] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[CMND] [varchar](20) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [varchar](10) NULL,
	[LoaiKhachHang] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NULL,
	[MaNguoiDung] [int] NULL,
	[NgayLap] [datetime] NULL,
	[TongTien] [decimal](15, 2) NULL,
	[TienKhuyenMai] [decimal](15, 2) NULL,
	[TongThanhToan] [decimal](15, 2) NULL,
	[TienDaTra] [decimal](15, 2) NULL,
	[TienConNo]  AS ([TongThanhToan]-[TienDaTra]),
	[MaKhuyenMai] [int] NULL,
	[PhuongThucThanhToan] [varchar](20) NULL,
	[TrangThai] [varchar](20) NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ChiTietHoaDon]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- VIEWS
-- =====================================================

CREATE VIEW [dbo].[v_ChiTietHoaDon] AS
SELECT 
    hd.MaHoaDon,
    hd.NgayLap,
    kh.HoTen AS TenKhachHang,
    kh.SoDienThoai,
    nd.HoTen AS NhanVienLap,
    hd.TongTien,
    hd.TienKhuyenMai,
    hd.TongThanhToan,
    hd.TienDaTra,
    hd.TienConNo,
    hd.PhuongThucThanhToan,
    hd.TrangThai
FROM HoaDon hd
JOIN KhachHang kh ON hd.MaKhachHang = kh.MaKhachHang
JOIN NguoiDung nd ON hd.MaNguoiDung = nd.MaNguoiDung;
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[MaChamCong] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NULL,
	[NgayChamCong] [date] NOT NULL,
	[GioVao] [time](7) NULL,
	[GioRa] [time](7) NULL,
	[SoGioLam] [decimal](5, 2) NULL,
	[TrangThai] [varchar](20) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[NguoiChamCong] [int] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ThongKeNhanVien]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_ThongKeNhanVien] AS
SELECT 
    nd.MaNguoiDung,
    nd.HoTen,
    nd.VaiTro,
    COUNT(DISTINCT hd.MaHoaDon) AS SoHoaDonLap,
    ISNULL(SUM(hd.TongThanhToan), 0) AS TongDoanhThu,
    COUNT(DISTINCT cc.MaChamCong) AS SoNgayLam
FROM NguoiDung nd
LEFT JOIN HoaDon hd ON nd.MaNguoiDung = hd.MaNguoiDung
LEFT JOIN ChamCong cc ON nd.MaNguoiDung = cc.MaNguoiDung AND cc.TrangThai = 'DiLam'
WHERE nd.VaiTro = 'NhanVien'
GROUP BY nd.MaNguoiDung, nd.HoTen, nd.VaiTro;
GO
/****** Object:  Table [dbo].[ChiTietHoaDonPhuTung]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonPhuTung](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDon] [int] NULL,
	[MaPhuTung] [int] NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](15, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]),
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDonSanPham]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonSanPham](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDon] [int] NULL,
	[MaSanPham] [int] NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](15, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]),
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhapPhuTung]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhapPhuTung](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuNhap] [int] NULL,
	[MaPhuTung] [int] NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](15, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]),
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhapSanPham]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhapSanPham](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuNhap] [int] NULL,
	[MaSanPham] [int] NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](15, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]),
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangXe]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangXe](
	[MaHangXe] [int] IDENTITY(1,1) NOT NULL,
	[TenHangXe] [nvarchar](100) NOT NULL,
	[QuocGia] [nvarchar](50) NULL,
	[Website] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHangXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKhuyenMai] [int] IDENTITY(1,1) NOT NULL,
	[TenKhuyenMai] [nvarchar](150) NOT NULL,
	[LoaiKhuyenMai] [varchar](20) NOT NULL,
	[GiaTri] [decimal](15, 2) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[DieuKien] [nvarchar](500) NULL,
	[TrangThai] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuBaoHanh]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuBaoHanh](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuBaoHanh] [int] NULL,
	[NgaySuaChua] [date] NOT NULL,
	[MoTaLoi] [nvarchar](500) NULL,
	[ChiPhiPhatSinh] [decimal](15, 2) NULL,
	[NguoiXuLy] [int] NULL,
	[TrangThai] [varchar](20) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhuTung]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhuTung](
	[MaLoaiPhuTung] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiPhuTung] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhuTung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiXe]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiXe](
	[MaLoaiXe] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiXe] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNhaCungCap] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaCungCap] [nvarchar](150) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NguoiLienHe] [nvarchar](100) NULL,
	[TrangThai] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuBaoHanh]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuBaoHanh](
	[MaPhieuBaoHanh] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDon] [int] NULL,
	[MaSanPham] [int] NULL,
	[MaKhachHang] [int] NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[TrangThai] [varchar](20) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuBaoHanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhapKho]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapKho](
	[MaPhieuNhap] [int] IDENTITY(1,1) NOT NULL,
	[MaNhaCungCap] [int] NULL,
	[MaNguoiDung] [int] NULL,
	[NgayNhap] [datetime] NULL,
	[TongTien] [decimal](15, 2) NULL,
	[TrangThai] [varchar](20) NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuTung]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuTung](
	[MaPhuTung] [int] IDENTITY(1,1) NOT NULL,
	[TenPhuTung] [nvarchar](150) NOT NULL,
	[MaLoaiPhuTung] [int] NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[GiaNhap] [decimal](15, 2) NOT NULL,
	[GiaBan] [decimal](15, 2) NOT NULL,
	[SoLuongTon] [int] NULL,
	[MoTa] [nvarchar](500) NULL,
	[TrangThai] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhuTung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](150) NOT NULL,
	[MaLoaiXe] [int] NULL,
	[MaHangXe] [int] NULL,
	[PhanKhoi] [int] NULL,
	[MauSac] [nvarchar](50) NULL,
	[NamSanXuat] [int] NULL,
	[GiaBan] [decimal](15, 2) NOT NULL,
	[SoLuongTon] [int] NULL,
	[MoTa] [nvarchar](500) NULL,
	[ThoiGianBaoHanh] [int] NULL,
	[TrangThai] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChamCong] ON 

INSERT [dbo].[ChamCong] ([MaChamCong], [MaNguoiDung], [NgayChamCong], [GioVao], [GioRa], [SoGioLam], [TrangThai], [GhiChu], [NguoiChamCong], [NgayTao]) VALUES (1, 3, CAST(N'2025-11-13' AS Date), CAST(N'07:55:00' AS Time), CAST(N'17:05:00' AS Time), CAST(8.00 AS Decimal(5, 2)), N'DiLam', NULL, 2, CAST(N'2025-11-15T12:57:02.347' AS DateTime))
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNguoiDung], [NgayChamCong], [GioVao], [GioRa], [SoGioLam], [TrangThai], [GhiChu], [NguoiChamCong], [NgayTao]) VALUES (2, 3, CAST(N'2025-11-14' AS Date), CAST(N'08:15:00' AS Time), CAST(N'17:00:00' AS Time), CAST(7.75 AS Decimal(5, 2)), N'DiTre', NULL, 2, CAST(N'2025-11-15T12:57:02.347' AS DateTime))
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNguoiDung], [NgayChamCong], [GioVao], [GioRa], [SoGioLam], [TrangThai], [GhiChu], [NguoiChamCong], [NgayTao]) VALUES (3, 3, CAST(N'2025-11-15' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), CAST(9.00 AS Decimal(5, 2)), N'DiLam', NULL, 1, CAST(N'2025-11-15T12:57:02.347' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChamCong] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDonPhuTung] ON 

INSERT [dbo].[ChiTietHoaDonPhuTung] ([MaChiTiet], [MaHoaDon], [MaPhuTung], [SoLuong], [DonGia]) VALUES (1, 3, 1, 2, CAST(120000.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietHoaDonPhuTung] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDonSanPham] ON 

INSERT [dbo].[ChiTietHoaDonSanPham] ([MaChiTiet], [MaHoaDon], [MaSanPham], [SoLuong], [DonGia]) VALUES (1, 1, 3, 1, CAST(47000000.00 AS Decimal(15, 2)))
INSERT [dbo].[ChiTietHoaDonSanPham] ([MaChiTiet], [MaHoaDon], [MaSanPham], [SoLuong], [DonGia]) VALUES (2, 2, 1, 1, CAST(30000000.00 AS Decimal(15, 2)))
INSERT [dbo].[ChiTietHoaDonSanPham] ([MaChiTiet], [MaHoaDon], [MaSanPham], [SoLuong], [DonGia]) VALUES (4, 1, 1, 5, CAST(30000000.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietHoaDonSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhapPhuTung] ON 

INSERT [dbo].[ChiTietPhieuNhapPhuTung] ([MaChiTiet], [MaPhieuNhap], [MaPhuTung], [SoLuong], [DonGia]) VALUES (1, 2, 1, 50, CAST(75000.00 AS Decimal(15, 2)))
INSERT [dbo].[ChiTietPhieuNhapPhuTung] ([MaChiTiet], [MaPhieuNhap], [MaPhuTung], [SoLuong], [DonGia]) VALUES (2, 2, 2, 30, CAST(240000.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhapPhuTung] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhapSanPham] ON 

INSERT [dbo].[ChiTietPhieuNhapSanPham] ([MaChiTiet], [MaPhieuNhap], [MaSanPham], [SoLuong], [DonGia]) VALUES (3, 2, 3, 10, CAST(42000000.00 AS Decimal(15, 2)))
INSERT [dbo].[ChiTietPhieuNhapSanPham] ([MaChiTiet], [MaPhieuNhap], [MaSanPham], [SoLuong], [DonGia]) VALUES (4, 2, 4, 20, CAST(18000000.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhapSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[HangXe] ON 

INSERT [dbo].[HangXe] ([MaHangXe], [TenHangXe], [QuocGia], [Website]) VALUES (1, N'Honda', N'Nhật Bản', N'www.honda.com.vn')
INSERT [dbo].[HangXe] ([MaHangXe], [TenHangXe], [QuocGia], [Website]) VALUES (2, N'Yamaha', N'Nhật Bản', N'www.yamaha-motor.com.vn')
INSERT [dbo].[HangXe] ([MaHangXe], [TenHangXe], [QuocGia], [Website]) VALUES (3, N'SYM', N'Đài Loan', N'www.sym.com.vn')
SET IDENTITY_INSERT [dbo].[HangXe] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHoaDon], [MaKhachHang], [MaNguoiDung], [NgayLap], [TongTien], [TienKhuyenMai], [TongThanhToan], [TienDaTra], [MaKhuyenMai], [PhuongThucThanhToan], [TrangThai], [GhiChu]) VALUES (1, 3, 3, CAST(N'2025-11-14T12:57:02.347' AS DateTime), CAST(860000000.00 AS Decimal(15, 2)), CAST(4700000.00 AS Decimal(15, 2)), CAST(855300000.00 AS Decimal(15, 2)), CAST(42300000.00 AS Decimal(15, 2)), 1, N'ChuyenKhoan', N'DaThanhToan', N'Khách hàng mới, áp dụng KM 10%')
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaKhachHang], [MaNguoiDung], [NgayLap], [TongTien], [TienKhuyenMai], [TongThanhToan], [TienDaTra], [MaKhuyenMai], [PhuongThucThanhToan], [TrangThai], [GhiChu]) VALUES (2, 1, 3, CAST(N'2025-11-05T12:57:02.363' AS DateTime), CAST(30000000.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), CAST(30000000.00 AS Decimal(15, 2)), CAST(30000000.00 AS Decimal(15, 2)), NULL, N'TraGop', N'DaThanhToan', N'Khách trả trước 10 triệu')
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaKhachHang], [MaNguoiDung], [NgayLap], [TongTien], [TienKhuyenMai], [TongThanhToan], [TienDaTra], [MaKhuyenMai], [PhuongThucThanhToan], [TrangThai], [GhiChu]) VALUES (3, 2, 3, CAST(N'2025-11-15T12:57:02.363' AS DateTime), CAST(240000.00 AS Decimal(15, 2)), CAST(100000.00 AS Decimal(15, 2)), CAST(140000.00 AS Decimal(15, 2)), CAST(140000.00 AS Decimal(15, 2)), 3, N'TienMat', N'DaThanhToan', N'Khách vào thay nhớt')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoDienThoai], [Email], [DiaChi], [CMND], [NgaySinh], [GioiTinh], [LoaiKhachHang], [NgayTao], [NgayCapNhat]) VALUES (1, N'Phạm Văn Khách', N'0912345678', N'khach1@gmail.com', N'123 Đường ABC, Quận 1, TP.HCM', N'123456789', NULL, N'Nam', N'ThongThuong', CAST(N'2025-11-15T12:57:02.323' AS DateTime), CAST(N'2025-11-15T12:57:02.323' AS DateTime))
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoDienThoai], [Email], [DiaChi], [CMND], [NgaySinh], [GioiTinh], [LoaiKhachHang], [NgayTao], [NgayCapNhat]) VALUES (2, N'Nguyễn Thị Lan', N'0923456789', N'lan@gmail.com', N'456 Đường XYZ, Quận 2, TP.HCM', N'987654321', NULL, N'Nu', N'ThongThuong', CAST(N'2025-11-15T12:57:02.323' AS DateTime), CAST(N'2025-11-15T12:57:02.323' AS DateTime))
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoDienThoai], [Email], [DiaChi], [CMND], [NgaySinh], [GioiTinh], [LoaiKhachHang], [NgayTao], [NgayCapNhat]) VALUES (3, N'Trần Văn An', N'0987654321', NULL, N'12 Ngô Quyền, Q. Hoàn Kiếm, Hà Nội', N'111222333', CAST(N'1990-05-15' AS Date), N'Nam', N'ThanThiet', CAST(N'2025-11-15T12:57:02.323' AS DateTime), CAST(N'2025-11-15T12:57:02.323' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([MaKhuyenMai], [TenKhuyenMai], [LoaiKhuyenMai], [GiaTri], [NgayBatDau], [NgayKetThuc], [DieuKien], [TrangThai], [NgayTao]) VALUES (1, N'Tri ân khách hàng - Giảm 10%', N'PhanTram', CAST(10.00 AS Decimal(15, 2)), CAST(N'2025-10-31' AS Date), CAST(N'2025-11-30' AS Date), N'Áp dụng cho hóa đơn trên 20,000,000 VND', N'HoatDong', CAST(N'2025-11-15T12:57:02.347' AS DateTime))
INSERT [dbo].[KhuyenMai] ([MaKhuyenMai], [TenKhuyenMai], [LoaiKhuyenMai], [GiaTri], [NgayBatDau], [NgayKetThuc], [DieuKien], [TrangThai], [NgayTao]) VALUES (3, N'Tặng 100k Phí Dịch Vụ', N'TienMat', CAST(100000.00 AS Decimal(15, 2)), CAST(N'2025-11-10' AS Date), CAST(N'2025-12-10' AS Date), N'Áp dụng cho hóa đơn phụ tùng/dịch vụ', N'HoatDong', CAST(N'2025-11-15T12:57:02.347' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuBaoHanh] ON 

INSERT [dbo].[LichSuBaoHanh] ([MaLichSu], [MaPhieuBaoHanh], [NgaySuaChua], [MoTaLoi], [ChiPhiPhatSinh], [NguoiXuLy], [TrangThai], [GhiChu], [NgayTao]) VALUES (1, 2, CAST(N'2025-11-10' AS Date), N'Bảo dưỡng định kỳ lần 1, thay nhớt', CAST(0.00 AS Decimal(15, 2)), 3, N'HoanThanh', N'Miễn phí thay nhớt lần đầu', CAST(N'2025-11-15T12:57:02.373' AS DateTime))
INSERT [dbo].[LichSuBaoHanh] ([MaLichSu], [MaPhieuBaoHanh], [NgaySuaChua], [MoTaLoi], [ChiPhiPhatSinh], [NguoiXuLy], [TrangThai], [GhiChu], [NgayTao]) VALUES (2, 2, CAST(N'2025-11-15' AS Date), N'Kiểm tra hệ thống phanh, kêu nhỏ', CAST(0.00 AS Decimal(15, 2)), 3, N'DangXuLy', N'Đã tiếp nhận, chờ xử lý', CAST(N'2025-11-15T12:57:02.373' AS DateTime))
INSERT [dbo].[LichSuBaoHanh] ([MaLichSu], [MaPhieuBaoHanh], [NgaySuaChua], [MoTaLoi], [ChiPhiPhatSinh], [NguoiXuLy], [TrangThai], [GhiChu], [NgayTao]) VALUES (3, 1, CAST(N'2025-11-15' AS Date), N'hư bánh xe', CAST(120000.00 AS Decimal(15, 2)), 3, N'HoanThanh', NULL, CAST(N'2025-11-15T19:22:29.813' AS DateTime))
SET IDENTITY_INSERT [dbo].[LichSuBaoHanh] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiPhuTung] ON 

INSERT [dbo].[LoaiPhuTung] ([MaLoaiPhuTung], [TenLoaiPhuTung], [MoTa]) VALUES (1, N'Nhớt', N'Dầu nhớt xe máy')
INSERT [dbo].[LoaiPhuTung] ([MaLoaiPhuTung], [TenLoaiPhuTung], [MoTa]) VALUES (2, N'Lốp xe', N'Lốp xe các loại')
INSERT [dbo].[LoaiPhuTung] ([MaLoaiPhuTung], [TenLoaiPhuTung], [MoTa]) VALUES (3, N'Phanh', N'Hệ thống phanh')
SET IDENTITY_INSERT [dbo].[LoaiPhuTung] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiXe] ON 

INSERT [dbo].[LoaiXe] ([MaLoaiXe], [TenLoaiXe], [MoTa]) VALUES (1, N'Xe Số', N'Xe số tay truyền thống')
INSERT [dbo].[LoaiXe] ([MaLoaiXe], [TenLoaiXe], [MoTa]) VALUES (2, N'Xe Tay Ga', N'Xe tay ga tự động')
INSERT [dbo].[LoaiXe] ([MaLoaiXe], [TenLoaiXe], [MoTa]) VALUES (3, N'Xe Côn Tay', N'Xe côn tay thể thao')
SET IDENTITY_INSERT [dbo].[LoaiXe] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [HoTen], [SoDienThoai], [Email], [DiaChi], [VaiTro], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (1, N'admin', N'1', N'Nguyễn Văn Admin', N'0901234567', N'admin@cuahangxe.com', NULL, N'Admin', N'HoatDong', CAST(N'2025-11-15T12:57:02.320' AS DateTime), CAST(N'2025-11-16T18:38:40.687' AS DateTime))
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [HoTen], [SoDienThoai], [Email], [DiaChi], [VaiTro], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (2, N'quanly01', N'1', N'Trần Thị Quản Lý', N'0902345678', N'quanly@cuahangxe.com', NULL, N'QuanLy', N'HoatDong', CAST(N'2025-11-15T12:57:02.320' AS DateTime), CAST(N'2025-11-16T15:37:00.513' AS DateTime))
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [HoTen], [SoDienThoai], [Email], [DiaChi], [VaiTro], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (3, N'nhanvien01', N'1', N'Lê Văn Nhân Viên', N'0903456789', N'nhanvien@cuahangxe.com', NULL, N'NhanVien', N'HoatDong', CAST(N'2025-11-15T12:57:02.320' AS DateTime), CAST(N'2025-11-17T11:21:06.573' AS DateTime))
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [SoDienThoai], [Email], [DiaChi], [NguoiLienHe], [TrangThai], [NgayTao]) VALUES (1, N'Công ty Honda Việt Nam', N'0281234567', N'contact@honda.vn', N'TP. Hồ Chí Minh', N'Nguyễn Văn A', N'HoatDong', CAST(N'2025-11-15T12:57:02.323' AS DateTime))
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [SoDienThoai], [Email], [DiaChi], [NguoiLienHe], [TrangThai], [NgayTao]) VALUES (2, N'Yamaha Motor Việt Nam', N'0281234568', N'info@yamaha.vn', N'Hà Nội', N'Trần Thị B', N'HoatDong', CAST(N'2025-11-15T12:57:02.323' AS DateTime))
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuBaoHanh] ON 

INSERT [dbo].[PhieuBaoHanh] ([MaPhieuBaoHanh], [MaHoaDon], [MaSanPham], [MaKhachHang], [NgayBatDau], [NgayKetThuc], [TrangThai], [GhiChu], [NgayTao]) VALUES (1, 1, 3, 3, CAST(N'2025-11-14' AS Date), CAST(N'2026-11-14' AS Date), N'ConHieuLuc', NULL, CAST(N'2025-11-15T12:57:02.363' AS DateTime))
INSERT [dbo].[PhieuBaoHanh] ([MaPhieuBaoHanh], [MaHoaDon], [MaSanPham], [MaKhachHang], [NgayBatDau], [NgayKetThuc], [TrangThai], [GhiChu], [NgayTao]) VALUES (2, 2, 1, 1, CAST(N'2025-11-05' AS Date), CAST(N'2026-11-05' AS Date), N'ConHieuLuc', NULL, CAST(N'2025-11-15T12:57:02.363' AS DateTime))
INSERT [dbo].[PhieuBaoHanh] ([MaPhieuBaoHanh], [MaHoaDon], [MaSanPham], [MaKhachHang], [NgayBatDau], [NgayKetThuc], [TrangThai], [GhiChu], [NgayTao]) VALUES (3, 1, 3, 1, CAST(N'2025-09-16' AS Date), CAST(N'2025-10-16' AS Date), N'ConHieuLuc', NULL, CAST(N'2025-11-16T20:40:47.913' AS DateTime))
SET IDENTITY_INSERT [dbo].[PhieuBaoHanh] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhapKho] ON 

INSERT [dbo].[PhieuNhapKho] ([MaPhieuNhap], [MaNhaCungCap], [MaNguoiDung], [NgayNhap], [TongTien], [TrangThai], [GhiChu]) VALUES (2, 2, 3, CAST(N'2025-11-15T12:57:02.337' AS DateTime), CAST(790950000.00 AS Decimal(15, 2)), N'DaXacNhan', N'Nhập xe Yamaha và phụ tùng T11/2025')
INSERT [dbo].[PhieuNhapKho] ([MaPhieuNhap], [MaNhaCungCap], [MaNguoiDung], [NgayNhap], [TongTien], [TrangThai], [GhiChu]) VALUES (13, 1, 1, CAST(N'2025-11-17T14:40:33.497' AS DateTime), CAST(0.00 AS Decimal(15, 2)), N'ChoXacNhan', N'')
SET IDENTITY_INSERT [dbo].[PhieuNhapKho] OFF
GO
SET IDENTITY_INSERT [dbo].[PhuTung] ON 

INSERT [dbo].[PhuTung] ([MaPhuTung], [TenPhuTung], [MaLoaiPhuTung], [DonViTinh], [GiaNhap], [GiaBan], [SoLuongTon], [MoTa], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (1, N'Nhớt Castrol 10W40', 1, N'Chai', CAST(80000.00 AS Decimal(15, 2)), CAST(120000.00 AS Decimal(15, 2)), 48, NULL, N'ConHang', CAST(N'2025-11-15T12:57:02.323' AS DateTime), CAST(N'2025-11-16T19:24:31.140' AS DateTime))
INSERT [dbo].[PhuTung] ([MaPhuTung], [TenPhuTung], [MaLoaiPhuTung], [DonViTinh], [GiaNhap], [GiaBan], [SoLuongTon], [MoTa], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (2, N'Lốp Michelin 80/90-17', 2, N'Cái', CAST(250000.00 AS Decimal(15, 2)), CAST(350000.00 AS Decimal(15, 2)), 30, NULL, N'ConHang', CAST(N'2025-11-15T12:57:02.323' AS DateTime), CAST(N'2025-11-16T19:24:57.207' AS DateTime))
INSERT [dbo].[PhuTung] ([MaPhuTung], [TenPhuTung], [MaLoaiPhuTung], [DonViTinh], [GiaNhap], [GiaBan], [SoLuongTon], [MoTa], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (3, N'Má phanh Honda', 3, N'Bộ', CAST(80000.00 AS Decimal(15, 2)), CAST(150000.00 AS Decimal(15, 2)), 12, NULL, N'ConHang', CAST(N'2025-11-15T12:57:02.323' AS DateTime), CAST(N'2025-11-16T19:25:48.540' AS DateTime))
SET IDENTITY_INSERT [dbo].[PhuTung] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MaLoaiXe], [MaHangXe], [PhanKhoi], [MauSac], [NamSanXuat], [GiaBan], [SoLuongTon], [MoTa], [ThoiGianBaoHanh], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (1, N'Honda Vision 2024', 2, 1, 125, N'Đỏ', 2024, CAST(30000000.00 AS Decimal(15, 2)), 23, NULL, 12, N'ConHang', CAST(N'2025-11-15T12:57:02.323' AS DateTime), CAST(N'2025-11-16T19:12:43.420' AS DateTime))
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MaLoaiXe], [MaHangXe], [PhanKhoi], [MauSac], [NamSanXuat], [GiaBan], [SoLuongTon], [MoTa], [ThoiGianBaoHanh], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (2, N'Honda Future 2024', 1, 1, 125, N'Đen', 2024, CAST(28000000.00 AS Decimal(15, 2)), 3, NULL, 12, N'ConHang', CAST(N'2025-11-15T12:57:02.323' AS DateTime), CAST(N'2025-11-16T19:14:48.857' AS DateTime))
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MaLoaiXe], [MaHangXe], [PhanKhoi], [MauSac], [NamSanXuat], [GiaBan], [SoLuongTon], [MoTa], [ThoiGianBaoHanh], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (3, N'Yamaha Exciter 155', 3, 2, 155, N'Xanh', 2024, CAST(47000000.00 AS Decimal(15, 2)), 19, NULL, 12, N'ConHang', CAST(N'2025-11-15T12:57:02.323' AS DateTime), CAST(N'2025-11-15T12:57:02.323' AS DateTime))
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
/****** Object:  Index [unique_chamcong]    Script Date: 11/17/2025 2:55:26 PM ******/
ALTER TABLE [dbo].[ChamCong] ADD  CONSTRAINT [unique_chamcong] UNIQUE NONCLUSTERED 
(
	[MaNguoiDung] ASC,
	[NgayChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_chamcong_ngay]    Script Date: 11/17/2025 2:55:26 PM ******/
CREATE NONCLUSTERED INDEX [idx_chamcong_ngay] ON [dbo].[ChamCong]
(
	[NgayChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_hoadon_khachhang]    Script Date: 11/17/2025 2:55:26 PM ******/
CREATE NONCLUSTERED INDEX [idx_hoadon_khachhang] ON [dbo].[HoaDon]
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_hoadon_ngaylap]    Script Date: 11/17/2025 2:55:26 PM ******/
CREATE NONCLUSTERED INDEX [idx_hoadon_ngaylap] ON [dbo].[HoaDon]
(
	[NgayLap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__55F68FC0B93CDFFE]    Script Date: 11/17/2025 2:55:26 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_phieubaohanh_khachhang]    Script Date: 11/17/2025 2:55:26 PM ******/
CREATE NONCLUSTERED INDEX [idx_phieubaohanh_khachhang] ON [dbo].[PhieuBaoHanh]
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_sanpham_hang]    Script Date: 11/17/2025 2:55:26 PM ******/
CREATE NONCLUSTERED INDEX [idx_sanpham_hang] ON [dbo].[SanPham]
(
	[MaHangXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_sanpham_loai]    Script Date: 11/17/2025 2:55:26 PM ******/
CREATE NONCLUSTERED INDEX [idx_sanpham_loai] ON [dbo].[SanPham]
(
	[MaLoaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChamCong] ADD  DEFAULT ('DiLam') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChamCong] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TienKhuyenMai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongThanhToan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TienDaTra]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ('TienMat') FOR [PhuongThucThanhToan]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ('ThongThuong') FOR [LoaiKhachHang]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ('HoatDong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LichSuBaoHanh] ADD  DEFAULT ((0)) FOR [ChiPhiPhatSinh]
GO
ALTER TABLE [dbo].[LichSuBaoHanh] ADD  DEFAULT ('DangXuLy') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LichSuBaoHanh] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ('HoatDong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  DEFAULT ('HoatDong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PhieuBaoHanh] ADD  DEFAULT ('ConHieuLuc') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuBaoHanh] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PhieuNhapKho] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PhieuNhapKho] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[PhieuNhapKho] ADD  DEFAULT ('ChoXacNhan') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhuTung] ADD  DEFAULT (N'Cái') FOR [DonViTinh]
GO
ALTER TABLE [dbo].[PhuTung] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[PhuTung] ADD  DEFAULT ('ConHang') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhuTung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PhuTung] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((12)) FOR [ThoiGianBaoHanh]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ('ConHang') FOR [TrangThai]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD FOREIGN KEY([NguoiChamCong])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[ChiTietHoaDonPhuTung]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDonPhuTung]  WITH CHECK ADD FOREIGN KEY([MaPhuTung])
REFERENCES [dbo].[PhuTung] ([MaPhuTung])
GO
ALTER TABLE [dbo].[ChiTietHoaDonSanPham]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDonSanPham]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapPhuTung]  WITH CHECK ADD FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhapKho] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapPhuTung]  WITH CHECK ADD FOREIGN KEY([MaPhuTung])
REFERENCES [dbo].[PhuTung] ([MaPhuTung])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapSanPham]  WITH CHECK ADD FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhapKho] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapSanPham]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([MaKhuyenMai])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[LichSuBaoHanh]  WITH CHECK ADD FOREIGN KEY([MaPhieuBaoHanh])
REFERENCES [dbo].[PhieuBaoHanh] ([MaPhieuBaoHanh])
GO
ALTER TABLE [dbo].[LichSuBaoHanh]  WITH CHECK ADD FOREIGN KEY([NguoiXuLy])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[PhieuBaoHanh]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[PhieuBaoHanh]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[PhieuBaoHanh]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[PhuTung]  WITH CHECK ADD FOREIGN KEY([MaLoaiPhuTung])
REFERENCES [dbo].[LoaiPhuTung] ([MaLoaiPhuTung])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaHangXe])
REFERENCES [dbo].[HangXe] ([MaHangXe])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaLoaiXe])
REFERENCES [dbo].[LoaiXe] ([MaLoaiXe])
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD CHECK  (([TrangThai]='DiTre' OR [TrangThai]='NghiPhep' OR [TrangThai]='VangMat' OR [TrangThai]='DiLam'))
GO
ALTER TABLE [dbo].[ChiTietHoaDonPhuTung]  WITH CHECK ADD  CONSTRAINT [CHK_CTHDPT_SoLuong] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDonPhuTung] CHECK CONSTRAINT [CHK_CTHDPT_SoLuong]
GO
ALTER TABLE [dbo].[ChiTietHoaDonSanPham]  WITH CHECK ADD  CONSTRAINT [CHK_CTHD_SoLuong] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDonSanPham] CHECK CONSTRAINT [CHK_CTHD_SoLuong]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapPhuTung]  WITH CHECK ADD  CONSTRAINT [CHK_CTPNPT_SoLuong] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapPhuTung] CHECK CONSTRAINT [CHK_CTPNPT_SoLuong]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapSanPham]  WITH CHECK ADD  CONSTRAINT [CHK_CTPN_SoLuong] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapSanPham] CHECK CONSTRAINT [CHK_CTPN_SoLuong]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([PhuongThucThanhToan]='TraGop' OR [PhuongThucThanhToan]='ChuyenKhoan' OR [PhuongThucThanhToan]='TienMat'))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TrangThai]='Huy' OR [TrangThai]='ConNo' OR [TrangThai]='DaThanhToan' OR [TrangThai]='ChoXuLy'))
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  (([GioiTinh]='Khac' OR [GioiTinh]='Nu' OR [GioiTinh]='Nam'))
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  (([LoaiKhachHang]='ThongThuong' OR [LoaiKhachHang]='TiemNang' OR [LoaiKhachHang]='ThanThiet'))
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [CHK_NgayKhuyenMai] CHECK  (([NgayKetThuc]>=[NgayBatDau]))
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [CHK_NgayKhuyenMai]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([LoaiKhuyenMai]='TienMat' OR [LoaiKhuyenMai]='PhanTram'))
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([TrangThai]='KhongHoatDong' OR [TrangThai]='HoatDong'))
GO
ALTER TABLE [dbo].[LichSuBaoHanh]  WITH CHECK ADD CHECK  (([TrangThai]='HoanThanh' OR [TrangThai]='DangXuLy'))
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD CHECK  (([TrangThai]='KhongHoatDong' OR [TrangThai]='HoatDong'))
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD CHECK  (([VaiTro]='NhanVien' OR [VaiTro]='QuanLy' OR [VaiTro]='Admin'))
GO
ALTER TABLE [dbo].[NhaCungCap]  WITH CHECK ADD CHECK  (([TrangThai]='NgungHopTac' OR [TrangThai]='HoatDong'))
GO
ALTER TABLE [dbo].[PhieuBaoHanh]  WITH CHECK ADD  CONSTRAINT [CHK_NgayBaoHanh] CHECK  (([NgayKetThuc]>[NgayBatDau]))
GO
ALTER TABLE [dbo].[PhieuBaoHanh] CHECK CONSTRAINT [CHK_NgayBaoHanh]
GO
ALTER TABLE [dbo].[PhieuBaoHanh]  WITH CHECK ADD CHECK  (([TrangThai]='DaSuDung' OR [TrangThai]='HetHieuLuc' OR [TrangThai]='ConHieuLuc'))
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD CHECK  (([TrangThai]='Huy' OR [TrangThai]='DaXacNhan' OR [TrangThai]='ChoXacNhan'))
GO
ALTER TABLE [dbo].[PhuTung]  WITH CHECK ADD  CONSTRAINT [CHK_PhuTung_GiaBan] CHECK  (([GiaBan]>(0)))
GO
ALTER TABLE [dbo].[PhuTung] CHECK CONSTRAINT [CHK_PhuTung_GiaBan]
GO
ALTER TABLE [dbo].[PhuTung]  WITH CHECK ADD  CONSTRAINT [CHK_PhuTung_GiaNhap] CHECK  (([GiaNhap]>(0)))
GO
ALTER TABLE [dbo].[PhuTung] CHECK CONSTRAINT [CHK_PhuTung_GiaNhap]
GO
ALTER TABLE [dbo].[PhuTung]  WITH CHECK ADD  CONSTRAINT [CHK_PhuTung_SoLuongTon] CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[PhuTung] CHECK CONSTRAINT [CHK_PhuTung_SoLuongTon]
GO
ALTER TABLE [dbo].[PhuTung]  WITH CHECK ADD CHECK  (([TrangThai]='NgungKinhDoanh' OR [TrangThai]='HetHang' OR [TrangThai]='ConHang'))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CHK_GiaBan] CHECK  (([GiaBan]>(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CHK_GiaBan]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CHK_SoLuongTon] CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CHK_SoLuongTon]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([TrangThai]='NgungKinhDoanh' OR [TrangThai]='HetHang' OR [TrangThai]='ConHang'))
GO
/****** Object:  StoredProcedure [dbo].[sp_SanPhamSapHetHang]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure: Lấy danh sách sản phẩm sắp hết hàng
CREATE PROCEDURE [dbo].[sp_SanPhamSapHetHang]
    @nguong INT
AS
BEGIN
    SELECT 
        sp.MaSanPham,
        sp.TenSanPham,
        hx.TenHangXe,
        sp.SoLuongTon,
        sp.GiaBan
    FROM SanPham sp
    JOIN HangXe hx ON sp.MaHangXe = hx.MaHangXe
    WHERE sp.SoLuongTon <= @nguong
        AND sp.TrangThai = 'ConHang'
    ORDER BY sp.SoLuongTon ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeDoanhThuTheoThang]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure: Thống kê doanh thu theo tháng
CREATE PROCEDURE [dbo].[sp_ThongKeDoanhThuTheoThang]
    @nam INT,
    @thang INT
AS
BEGIN
    SELECT 
        CAST(NgayLap AS DATE) AS Ngay,
        COUNT(*) AS SoHoaDon,
        SUM(TongThanhToan) AS DoanhThu,
        SUM(TienKhuyenMai) AS TongKhuyenMai
    FROM HoaDon
    WHERE YEAR(NgayLap) = @nam 
        AND MONTH(NgayLap) = @thang
        AND TrangThai != 'Huy'
    GROUP BY CAST(NgayLap AS DATE)
    ORDER BY Ngay;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeTonKhoSanPham]    Script Date: 11/17/2025 2:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- CÁC STORED PROCEDURES
-- =====================================================

-- Procedure: Lấy thông tin tồn kho sản phẩm
CREATE PROCEDURE [dbo].[sp_ThongKeTonKhoSanPham]
AS
BEGIN
    SELECT 
        sp.MaSanPham,
        sp.TenSanPham,
        hx.TenHangXe,
        lx.TenLoaiXe,
        sp.SoLuongTon,
        sp.GiaBan,
        (sp.SoLuongTon * sp.GiaBan) AS GiaTriTonKho,
        sp.TrangThai
    FROM SanPham sp
    JOIN HangXe hx ON sp.MaHangXe = hx.MaHangXe
    JOIN LoaiXe lx ON sp.MaLoaiXe = lx.MaLoaiXe
    ORDER BY sp.SoLuongTon ASC;
END;
GO
USE [master]
GO
